<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
       </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Properties.Properties.Settings>
            <setting name="FKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CPUVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPSVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayHookedProcess" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysRunAsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="RelativeCorner" serializeAs="String">
                <value>1</value>
            </setting>
        </Properties.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
</configuration>